html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-plex);
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.2;
  color: var(--black);
  background: var(--gray);
}

.container {
  padding: 1rem;
}

.archive {
  display: flex;
  flex-wrap: wrap;
}
