.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
  flex-flow: column nowrap;
  max-width: 15.625rem;
  height: 100vh;
  border-right: solid 1px black;

  #nsv-logo {
      fill: var(--black);
      width: 5rem;
  }
}
